## 데이터 불러오기

In [20]:
import numpy as np
import pandas as pd

In [21]:
classlist = ['isc_2_1','isc_3_1','isc_3_3', # 0, 1, 2
             'nsc_1_1','nsc_1_2','nsc_2_5', # 3, 4, 5 
             'sdc_1_1','sdc_2_1',           # 6, 7
             'sic_2_6','sic_4_2']           # 8, 9
# ----------------------- 데이터 선택------------------------------
NUMBER = 2;
# ----------------------- 데이터 선택------------------------------

choosefile = classlist[NUMBER]
data_address = 'https://raw.githubusercontent.com/hanyeob/fine_dust/master/csv%20files/' + choosefile +".csv"

In [22]:
dataset = pd.read_csv(data_address)
dataset[0:5]

                    tt  0.3_outdoor  ...  Noise_air_classroom   ΔT
0  11-11-2019 16:57:27    169956900  ...                 52.0  8.6
1  11-11-2019 16:58:27    167429700  ...                 52.0  8.6
2  11-11-2019 16:59:27    168108800  ...                 52.0  8.3
3  11-11-2019 17:00:27    169491500  ...                 52.0  8.1
4  11-11-2019 17:01:27    168011700  ...                 53.0  8.0

[5 rows x 46 columns]

In [23]:
dataset.columns

Index(['tt', '0.3_outdoor', '0.5_outdoor', '1.0_outdoor', '3.0_outdoor',
       '5.0_outdoor', '10.0_outdoor', '0.3_classroom', '0.5_classroom',
       '1.0_classroom', '3.0_classroom', '5.0_classroom', '10.0_classroom',
       'temp_outdoor', 'RH_outdoor', 'AH_outside', 'CO2_outdoor',
       'temp_classroom', 'RH_classroom', 'AH_classroom', 'CO2_classroom',
       'temp_meteo_425', 'RH_meteo_425', 'WD_meteo_425', 'WS_meteo_425',
       'temp_meteo_889', 'RH_meteo_889', 'WD_meteo_889', 'WS_meteo_889',
       'PM10_air_outdoor', 'PM2.5_air_outdoor', 'temp_air_outdoor',
       'RH_air_outdoor', 'AH_air_outdoor', 'CO2_air_outdoor',
       'VOCS_air_outdoor', 'Noise_air_outdoor', 'PM10_air_classroom',
       'PM2.5_air_classroom', 'temp_air_classroom', 'RH_air_classroom',
       'AH_air_classroom', 'CO2_air_classroom', 'VOCS_air_classroom',
       'Noise_air_classroom', 'ΔT'],
      dtype='object')

In [24]:
dataset = dataset[['tt', '0.3_outdoor', '0.5_outdoor', '1.0_outdoor', '3.0_outdoor',
       '5.0_outdoor', '10.0_outdoor', '0.3_classroom', '0.5_classroom',
       '1.0_classroom', '3.0_classroom', '5.0_classroom', '10.0_classroom',
       'CO2_outdoor','CO2_classroom']]

In [25]:
dataset['tt'] = pd.to_datetime(dataset['tt'], format="%d-%m-%Y %H:%M:%S")

## NuN값 처리

In [26]:
dataset.isnull().sum()

tt                  0
0.3_outdoor         0
0.5_outdoor         0
1.0_outdoor         0
3.0_outdoor         0
5.0_outdoor         0
10.0_outdoor        0
0.3_classroom       0
0.5_classroom       0
1.0_classroom       0
3.0_classroom       0
5.0_classroom       0
10.0_classroom      0
CO2_outdoor         0
CO2_classroom     130
dtype: int64

In [27]:
for i in reversed(range(0,len(dataset))): 
    if(np.isnan(dataset.loc[i,'CO2_classroom'])):
      if(i+1 < len(dataset)):
        dataset.loc[i,'CO2_classroom'] = dataset.loc[i+1,'CO2_classroom']

for i in range(0,len(dataset)): 
    if(np.isnan(dataset.loc[i,'CO2_classroom'])):
      if(i > 0):
        dataset.loc[i,'CO2_classroom'] = dataset.loc[i-1,'CO2_classroom']

## 미세먼지, 초미세먼지 단위 맞춤 (Scaling)

In [28]:
dataset['0.3_outdoor_scaled'] = dataset['0.3_outdoor'] * 0.3 ** 3
dataset['0.5_outdoor_scaled'] = dataset['0.5_outdoor'] * 0.5 ** 3
dataset['1.0_outdoor_scaled'] = dataset['1.0_outdoor'] * 1.0 ** 3
dataset['3.0_outdoor_scaled'] = dataset['3.0_outdoor'] * 3.0 ** 3
dataset['5.0_outdoor_scaled'] = dataset['5.0_outdoor'] * 5.0 ** 3
dataset['10.0_outdoor_scaled'] = dataset['10.0_outdoor'] * 10.0 ** 3

dataset['0.3_classroom_scaled'] = dataset['0.3_classroom'] * 0.3 ** 3
dataset['0.5_classroom_scaled'] = dataset['0.5_classroom'] * 0.5 ** 3
dataset['1.0_classroom_scaled'] = dataset['1.0_classroom'] * 1.0 ** 3
dataset['3.0_classroom_scaled'] = dataset['3.0_classroom'] * 3.0 ** 3
dataset['5.0_classroom_scaled'] = dataset['5.0_classroom'] * 5.0 ** 3
dataset['10.0_classroom_scaled'] = dataset['10.0_classroom'] * 10.0 ** 3

## 미세먼지/초미세먼지(내부,외부) 데이터 통합

In [29]:
dataset['PM2.5_outdoor'] = np.sum(dataset.loc[:,'0.3_outdoor_scaled':'1.0_outdoor_scaled'], axis=1)
dataset['PM10_outdoor'] =  np.sum(dataset.loc[:,'3.0_outdoor_scaled':'10.0_outdoor_scaled'], axis=1)

dataset['PM2.5_classroom'] = np.sum( dataset.loc[:,'0.3_classroom_scaled':'1.0_classroom_scaled'], axis=1)
dataset['PM10_classroom'] = np.sum( dataset.loc[:,'3.0_classroom_scaled':'10.0_classroom_scaled'], axis=1)

In [30]:
# CO2_fig = go.Figure()
# CO2_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['CO2_outdoor'],mode='lines',name='CO2_outdoor'))
# CO2_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['CO2_classroom'],mode='lines',name='CO2_classroom'))

In [31]:
# PM_fig = go.Figure()
# from plotly.subplots import make_subplots
# PM_fig = make_subplots(specs=[[{"secondary_y": True}]])

# PM_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['PM2.5_outdoor'],line=dict(color='red'), mode='lines',name='PM2.5_outdoors'))
# PM_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['PM10_outdoor'],line=dict(color='blue'),mode='lines',name='PM10_outdoors'),secondary_y=True,)
# PM_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['PM2.5_classroom'],line=dict(color='orange'),mode='lines',name='PM2.5_classroom'))
# PM_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['PM10_classroom'],line=dict(color='skyblue'),mode='lines',name='PM10_classroom'),secondary_y=True,)

# PM_fig.update_yaxes(title_text="PM 2.5", secondary_y=False)
# PM_fig.update_yaxes(title_text="PM10", secondary_y=True)

## 교실 내 변화량 column생성

In [32]:
for i in range(1,len(dataset)) :
    dataset.loc[i,'PM2.5_classroom_change'] = dataset.loc[i,'PM2.5_classroom'] - dataset.loc[i-1,'PM2.5_classroom']
    dataset.loc[i,'PM10_classroom_change'] = dataset.loc[i,'PM10_classroom'] - dataset.loc[i-1,'PM10_classroom']
    dataset.loc[i,'CO2_classroom_change'] = dataset.loc[i,'CO2_classroom'] - dataset.loc[i-1,'CO2_classroom']

dataset.loc[0,'PM2.5_classroom_change'] =dataset.loc[1,'PM2.5_classroom_change']
dataset.loc[0,'PM10_classroom_change']  =dataset.loc[1,'PM10_classroom_change'] 
dataset.loc[0,'CO2_classroom_change']   =dataset.loc[1,'CO2_classroom_change']

In [33]:
# CO2_fig = go.Figure()
# CO2_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['CO2_outdoor'],mode='lines',name='CO2_outdoor'))
# CO2_fig.add_trace(go.Scatter(x=dataset['tt'], y=dataset['CO2_classroom'],mode='lines',name='CO2_classroom'))

# 스케일링 (일반화)

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_data = scaler.fit_transform(dataset[
                ['CO2_outdoor','PM2.5_outdoor','PM10_outdoor',
               'CO2_classroom','PM2.5_classroom','PM10_classroom',
               'CO2_classroom_change','PM2.5_classroom_change','PM10_classroom_change']
              ])
scaled_data = pd.DataFrame(data=scaled_data,columns=['CO2_outdoor','PM2.5_outdoor','PM10_outdoor',
               'CO2_classroom','PM2.5_classroom','PM10_classroom',
               'CO2_classroom_change','PM2.5_classroom_change','PM10_classroom_change'])
scaled_data.insert(loc=0,column='tt',value=dataset['tt'])
scaled_data

                      tt  ...  PM10_classroom_change
0    2019-11-11 16:57:27  ...              -0.544022
1    2019-11-11 16:58:27  ...              -0.544022
2    2019-11-11 16:59:27  ...               0.356791
3    2019-11-11 17:00:27  ...              -0.258455
4    2019-11-11 17:01:27  ...              -0.172618
...                  ...  ...                    ...
8348 2019-11-20 12:31:13  ...               0.514751
8349 2019-11-20 12:32:13  ...               0.103385
8350 2019-11-20 12:33:13  ...               1.665556
8351 2019-11-20 12:34:13  ...               0.711246
8352 2019-11-20 12:35:13  ...               0.227318

[8353 rows x 10 columns]

In [35]:
scaled_data

                      tt  ...  PM10_classroom_change
0    2019-11-11 16:57:27  ...              -0.544022
1    2019-11-11 16:58:27  ...              -0.544022
2    2019-11-11 16:59:27  ...               0.356791
3    2019-11-11 17:00:27  ...              -0.258455
4    2019-11-11 17:01:27  ...              -0.172618
...                  ...  ...                    ...
8348 2019-11-20 12:31:13  ...               0.514751
8349 2019-11-20 12:32:13  ...               0.103385
8350 2019-11-20 12:33:13  ...               1.665556
8351 2019-11-20 12:34:13  ...               0.711246
8352 2019-11-20 12:35:13  ...               0.227318

[8353 rows x 10 columns]

In [36]:
scaled_data.isnull().sum()

tt                        0
CO2_outdoor               0
PM2.5_outdoor             0
PM10_outdoor              0
CO2_classroom             0
PM2.5_classroom           0
PM10_classroom            0
CO2_classroom_change      0
PM2.5_classroom_change    0
PM10_classroom_change     0
dtype: int64

In [37]:
scaled_data.to_csv(choosefile+'_for_predict.csv',index=False)